@font-face {
  font-family: MyriadPro-Light;
  src: url("../fonts/Myriad-Pro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro-Semibold;
  src: url("../fonts/Myriad-Pro-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro-Bold;
  src: url("../fonts/Myriad-Pro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: MyriadPro;
  src: url("../fonts/Myriad-Pro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

//@font-face {
//  font-family: MyriadPro;
//  font-weight: bold;
//  src: url("../fonts/MyriadPro-Semibold.otf") format("otf");
//
//}